@page "/"
@using UI.Pages

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>Добро пожаловать на сайт с тренировками!</h1>

    <p>Наш сайт предназначен для тех, кто хочет улучшить свою физическую форму и достичь своих фитнес-целей. Мы предлагаем удобный интерфейс для создания и управления персональными тренировочными программами, а также для отслеживания прогресса.</p>

    <h2>Особенности сайта:</h2>
    <ul>
        <li><strong>Персонализированные тренировки:</strong> создайте программу, которая соответствует вашему уровню физической подготовки и целям.</li>
        <li><strong>Отслеживание прогресса:</strong> следите за выполненными упражнениями, сожженными калориями и достижениями.</li>
        <li><strong>Разнообразие упражнений:</strong> выбирайте из множества упражнений для всех частей тела, с возможностью фильтрации по сложности и типу тренировки.</li>
        <li><strong>Сообщество:</strong> взаимодействуйте с другими пользователями, делитесь результатами и находите мотивацию для тренировок.</li>
    </ul>

    <h2>Как это работает?</h2>
    <p>Для начала просто зарегистрируйтесь на нашем сайте. После этого вы сможете:</p>
    <ol>
        <li>Создать персональную тренировочную программу.</li>
        <li>Выбрать и настроить упражнения для ваших целей.</li>
        <li>Отслеживать ваш прогресс и получать рекомендации по улучшению.</li>
    </ol>

    <h2>Присоединяйтесь к нам!</h2>
    <p>Независимо от того, хотите ли вы набрать мышечную массу, похудеть или просто поддерживать физическую форму, наш сайт поможет вам достичь ваших целей. Начните тренироваться прямо сейчас!</p>
</div>